:root {
  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 48px;
  --spacing-6: 64px;
  --spacing-7: 96px;
  --spacing-8: 128px;

  /* Font sizes */
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 2rem;

  /* Colors */
  --color-primary: hsl(160deg, 100%, 30%);

  --color-secondary-light: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);

  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-900: hsl(0deg, 0%, 10%);
  --color-gray-700: hsl(0deg, 0%, 30%);
  --color-gray-600: hsl(0deg, 0%, 40%);
  --color-gray-400: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Add styles here! */

header {
}

main {
  background-color: var(--color-gray-600);
  border-top: 8px solid var(--color-gray-400);
}

.max-width-wrapper {
  max-inline-size: 800px;
  margin-inline: auto;
  padding-block: var(--spacing-5);
}

.intro-chunk {
  max-inline-size: 450px;
  padding-inline: var(--spacing-3);
}

.card {
  inline-size: 100%;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-3) var(--spacing-3);
  background-color: var(--color-white);
  border-bottom: 8px solid var(--color-gray-400);

  & .indented-heading {
    inline-size: fit-content;
    margin-block: 0;
    margin-inline-start: calc(-1 * var(--spacing-4) - var(--spacing-1));
    padding: var(--spacing-2) var(--spacing-5);
    background-color: var(--color-secondary-light);
    border-bottom: 6px solid var(--color-secondary-dark);
  }
}

p {
  font-size: var(--font-size-2);
  line-height: 1.5;

  & strong {
    color: var(--color-primary);
  }
}
